<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /onkan/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule . - [L]

  RewriteRule . /onkan/index.html [L]
</IfModule>
